html {
  background: linear-gradient(to bottom, #e4efc0 0%, #abbd73 100%);
  height: 100%;
  font-family: Roboto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

// Color-card
// ---------------------------------------------------------------------------

.color-card {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-color: #034609;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  margin: 20px;
  padding: 10px;
  height: 180px;
  max-width: 330px;

  .color-card__actions {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .color-card__colorField {
    display: flex;

    input {
      margin-top: 12px;
      margin-left: 17px;
    }
  }
}

// New-color
// ---------------------------------------------------------------------------

.new-color {
  display: flex;
  background-color: #27A01C9C;
  padding: 15px;

  form {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}

// UI components
// ---------------------------------------------------------------------------

.ui-button {
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase !important;
  padding: 1rem 1.5rem 0.9rem;
  line-height: normal;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  box-shadow: 0 3px 12px -3px rgba(124, 124, 124, 0.75);
}

.ui-form-label {
  font-size: 16px;
  font-weight: 500;
  padding: 7px 20px 0 0;
  text-align: right;
}
