& {
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase !important;
  padding: 1rem 1.5rem 0.9rem;
  line-height: normal;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  box-shadow: 0 3px 12px -3px rgba(124, 124, 124, 0.75);
}
